body {
     font-family: "Poppins", sans-serif;
}
.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    color: rgba(58, 58, 58, 1);
}
.navbar h3 {
    width: 243px;
    height: 53px;
   font-size: 24px;
   font-weight: 700;
   padding: 87px 494px 0 120px;
   line-height: 36px; 
}
.list-item {
    flex-direction: row;
    list-style-type: none;
    gap: 34px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 96px;
    padding-left: 120px;
    
}
.hamburger {
    display: none;
}
    
@media  screen and  {
    
}