body {
     font-family: "Poppins", sans-serif;
}
.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    color: rgba(58, 58, 58, 1);
}
.navbar h3 {
    width: 243px;
    height: 53px;
   font-size: 24px;
   font-weight: 700;
   padding: 87px 494px 0 120px;
   line-height: 36px; 
}
.list-item {
    flex-direction: row;
    list-style-type: none;
    gap: 34px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 96px;
    padding-left: 120px;
    
}
.cart {
    color: rgba(0, 0, 0, 1);
}
.hamburger {
    display: none;
}
    
@media  screen and (max-width:576px) {
  .hamburger {
    display: block;
    margin-top: 35px;
    margin-left: 16px;
  }
  .list-item {
    display: none;
    position: absolute;
  }
.heading {
    width: 162px;
    height: 62px;
   font-size: 16px;
   margin: 0 auto;
   


}
.navbar h3 {
    padding: 0;
}
   }